:root {
  --background-color-contentLight: #81a7f9;
  /* --background-color-contentLight: rgb(49, 155, 255); */
  /* --background-color-contentLight: #dce4f7; */
  /* --background-color-contentMedium:  */
  --background-color-contentLarge: #2e5efb;
  /* --background-color-contentLarge: #0077ff; */
}

* {
  box-sizing: border-box;
  ul {
    list-style: none;
  }
  textarea,
  input,
  select,
  option,
  button {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
  }
  font-family: "Times New Roman", Times, serif;
  a {
    color: inherit;
    text-decoration: none;
  }
  input::placeholder {
    color: var(--background-color-contentLarge);
    font-size: 18px;
  }
}

body {
  margin: 0 auto;
  /* max-width: 1700px; */
  width: 100%;
  background-color: rgb(226, 0, 251);
  font-size: 18px;
  color: white;
  height: 100%;
}
